<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
              title: "Confirmación",
              text: '[[${msg}]]',
              icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
              title: "Error",
              text: '[[${error}]]',
              icon: "success"
            });
        </script>
    </div>

    <h1>Listado de Docentes</h1>
    <a th:href="@{/subjects/create}" class="btn btn-outline-primary">Nuevo docente</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>description</th>
            <th>mastername</th>
            <th>surnameteacher</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subjects : ${subjects}">
            <td th:text="${subjects.id}"></td>
            <td th:text="${subjects.name}"></td>
            <td th:text="${subjects.description}"></td>
            <td th:text="${subjects.mastername}"></td>
            <td th:text="${subjects.surnameteacher}"></td>
            <td>
                <a th:href="@{/subjects/details/{id} (id = ${subjects.id}) }" class="btn btn-outline-secondary">Detalles</a> |
                <a th:href="@{/subjects/edit/{id} (id = ${subjects.id}) }" class="btn btn-outline-info">Editar</a> |
                <a th:href="@{/subjects/remove/{id} (id = ${subjects.id}) }" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/subjects?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>