<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
              title: "Confirmación",
              text: '[[${msg}]]',
              icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
              title: "Error",
              text: '[[${error}]]',
              icon: "success"
            });
        </script>
    </div>

    <h1>Listado de usuario</h1>
    <a th:href="@{/user/create}" class="btn btn-outline-primary">Nuevo usuario</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>lastname</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${user}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.registrationDate}"></td>
            <td>
                <a th:href="@{/user/details/{id} (id = ${user.id})}" class="btn btn-outline-secondary">Detalles</a> |
                <a th:href="@{/user/edit/{id} (id = ${user.id})}" class="btn btn-outline-info">Editar</a> |
                <a th:href="@{/user/remove/{id} (id = ${user.id})}" class="btn btn-outline-danger">Eliminar</a>

            </td>
        </tr>

        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/user?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>