<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <h1>Create new note</h1>
    <form th:action="@{/notes/save}" th:object="${notes}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="notes">Notas</label>
                    <input type="number" step="any" class="form-control" th:field="*{notes}" id="notes" placeholder="Write the value of the notes" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" th:field="*{date}" id="date" placeholder="Write the date of the day of the note" required>
                </div>
            </div>

            //aqui va la lista de materias

        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button> |
        <a th:href="@{/notes}">Regresar</a>
    </form>
</div>