<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <h1>create new role</h1>
    <form th:action="@{/role/save}" th:object="${role}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Enter the name of the role" required>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/role}">Regresar</a>
    </form>
</div>